.DS_Store
__MACOSX/
Thumbs.db

.idea/
*.iml
*.ipr
*.iws
.atom/
.history
.vscode/

*.log
*.pyc
*.swp
*.tmp
*.class

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

ios/Pods/
ios/.symlinks/
macos/Pods/

app.*.symbols
app.*.map.json

backend/.env
backend/vendor/
backend/node_modules/
backend/secrets.php
backend/config/secrets.php
backend/config/database.local.php

.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/